@import url('https://fonts.googleapis.com/css2?family=Cormorant+SC:wght@300;400&display=swap');
*{
    margin: 0;
    padding: 0;
    background-color: #5c423a;
}

#grid{
    display:table;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 10px;
}

img{
    width: 150px;
    height: 150px;
    padding: 10px;
}

h1{
    font-family: 'Cormorant SC', serif;
    font-weight: 400;
    text-transform: uppercase;
    padding-top: 25px;
    text-align: center;
    color: #e6d9cd;
}


h3{
    font-family: 'Cormorant SC', serif;
    font-weight: 300;
    font-size: 20px;
    text-transform: uppercase;
    margin-left: 10px;
    color: #e6d9cd;
    text-align: center;
}

h4{
    font-family: 'Cormorant SC', serif;
    font-weight: 300;
    font-size: 15px;
    text-transform: uppercase;
    color: #e6d9cd;
    text-align: center;
    padding-top:5px; 
}
h5{
    font-family: 'Cormorant SC', serif;
    font-weight: 300;
    font-size: 10px;
    text-transform: uppercase;
    color: #e6d9cd;
    text-align: center;
    padding-top:5px;
}
#info{
    display: flex;
    justify-content: center;
}

button{
    color:#e6d9cd;
    text-transform: uppercase;
    font-family: 'Cormorant SC', serif;
    padding: 9px 25px;
    background-color: rgba(88,56,45,1);
    border: none;
    border-radius:50px;
    cursor: pointer;
    margin-left: 10px;
}

button:hover{
    background-color: rgba(88,56,45,0.7);
    transition: 0.7s;
}
